/* ecoomerce default start */
html{
	font-family:sans-serif;
}
body{
	margin:0;
}
h1,h2,h3,h4 {
	font-size:30px;
	margin:0;
	letter-spacing:1px;
}
div{
	display:block;
}
a{
	text-decoration:none;
}
ul{
	margin:0;
}
.main-menu a {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", “Arial”, “sans-serif”;
}
h1,h2,h3,h4,p,a{
	font-family:"Agency FB";
	font-weight:normal;
}
/*ecommerce default end  */
#page h1{
	color: #25d258;
	font-family:"Haettenschweiler";
}
#page {
	width:900px;
	margin: 0 auto;
}
.clearfix{
	clear:both;
}
.page-title{
	float:left;
	padding:4px 17px;
}
.search-box{
	float:right;
	padding:10px 17px;
}
.search-box a, .search-box a img{
	vertical-align:middle;
}
.search-box a img {
	width:19px;
}
/* navigation*/
.nav-menu{
	background-color: #25d258;
	background-size:9px 44px;
}
.main-menu{
	width:600px;
	margin:0 auto;
}
.main-menu ul{
	list-style-type:none;
}
.main-menu ul li{
	display:inline-block;
	padding:9px 9px 15px;
}
.main-menu ul li:after{
	content:"|";
	color:#fff;
	margin-left:25px;
}
.main-menu ul li:nth-child(1):before{
	content:"|";
	color:#fff;
	margin-right:25px;
}
.main-menu ul li a {
	color:#fff;
	padding:11px;
}
/*slider*/
.header-content{
	background-color:#25d258;
}
.slider{
	height:auto;
	background-color:#25d258;
}
.slider-product{
	float:left;
	width:58%;
	padding:15px 0;
}
.slider-product img{
	width:100%;
}
.slider-product-description{
	float:left;
	width:38%;
	color:#ccc;
}
.slider-poduct-description a{
	color:#ccc;
	float:right;
}
.brand-category{
	display: inline-block;
	width:100%;
	margin:0 auto;
	padding:20px 0;
}
.brand{
	display:inline-block;
	width:170px;
	margin-right:68px;
	margin-left: 53px;
}
.brand:last-child{
	margin:0;
}
.brand-logo{
	display:inline-block;
	width:100px;
}
.brand-info{
	display:inline-block;
	text-align:center;
	width:65px;
}
.brand-info h2, .brand-info a{
	 font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.brand-info h2{
	color:#8c8c8c;
}
.brand-info a{
	color:#CCC;
	background-color:#25d258;
	padding:5px;
	border-radius:4px;
}
.brand img{
	width:100%;
}
.featured-products h2{
	background-color:#25d258;
	padding:10px 17px;
	color:#fff;
	font-family:"Haettenschweiler";
	font-size:24px;
	letter-spacing:1px;
	margin:0
}
.featured-products-group{
	width:630px;
	margin:0 auto 30px;
	display:inline;
}
.featured-products-box{
	width:189px;
	display:inline-block;
	border:1px solid #dcdcdc;
	border-bottom:4px solid #25d258;
	margin-right:68px;
	margin-left:78px;
	margin-top:25px;
}
.featured-products-box:nth-child(3),
.featured-products-box:nth-child(6){
	margin:0;
}
.product-box-preview{
	width:180px;
	margin:0 auto;
	padding:5px;
	text-align:center;
}
.product-box-preview img{
	width:180px;
}
.product-box -info{
	text-align:center;
}
.product-box-info h3{
	font-size:25;
	margin:0;
}
.product-box-info h3,
.product-box-info p {
	color: #8c8c8c;
}
.product-box-info h3,
.product-box-info a,
.product-box-info p {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.product-box-info p,
.product-box-info a {
	display: inline-block;
}
.product-box-info a {
	margin-left: 49px;
	color: #fff;
	background-color: #28d258;
	padding: 5px 10px;
	border-radius: 4px;
}
.product-box-preview img {
	width: 180px;
	height: 130px;
	margin-top: auto;
}
.footer-top-container{
	background-color:#25d258;
	padding:23px;
	margin:25px auto 0;
}
.footer-column {
	display: inline-block;
	vertical-align: top;
	width: 165px;
	margin: 0 57px 0;
}
.footer-column:last-child {
	margin: 0 0 0 25px;
}
.footer-column h2 {
	margin: 0;
}
.footer-column h2 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
	font-size: 20px;
}
.footer-column h2 {
	margin: 0 0 20px;
}
.footer-column h2,.footer-column ul li a {
	color: #fff;
}
.footer-column ul li a  {
	line-height: 22px;
}
.footer-bottom {
	background-color: #239945;
	margin:0 auto;
}
.footer-bottom p {
	text-align: center;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-size: 14px;
}
.footer-column ul {
	list-style-type: none;
	padding: 0;
}


